<%include file="htmlHeader.html" />

<body data-spy="scroll" data-target=".report-sidebar">

	<div class="container">

	<p><a class="brand" href="http://${appDomain}/"></a></p>

	<div class="jumbotron">
		<h2>${_('<strong>Website reports</strong> for marketers and developers')}</h2>
		<p>${_('Improve your site SERP by using %(siteName)s audit tool which includes key SEM/SEO and WPO optimizations.') % { 'siteName': siteName}}</p>

		<form action="/analyze" method="post">
		<div class="input-group">
			<input type="text" name="domain" id="domain" class="form-control input-lg" pattern="^(https?://)?[a-zA-Z0-9_\-\.]+$" required="required" autofocus="autofocus" placeholder="${_('http://www.example.com')}" />
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary btn-lg">${_('Get your FREE report now!')}</button>
			</span>
		</div>
		</form>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">${_('Website with fresh reports')}</div>
				<div class="panel-body">
				<ul>
					% for recentDomain in recentDomains:
					<li><a href="${uriFor( 'staticReport', domainUrl = recentDomain.url  )}">${recentDomain.url}</a></li>
					% endfor
				</ul>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">${_('Sites with a huge ego')}</div>
				<div class="panel-body">
					<ol>
					% for recentDomain in sitesRanking:
					<li><a href="${uriFor( 'staticReport', domainUrl = recentDomain['url']  )}">${recentDomain['url']}</a> <span class="badge">${recentDomain['score']}/100</span></li>
					% endfor
					</ol>
				</div>
			</div>
		</div>
	</div>	
</div>

<%include file="userVoice.html" />

<%include file="footer.html" />
