<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/kbBO7FSgIp21T5T3dBkwQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#343d6e',
  link_color: '#007dbf',
  default_mode: 'feedback',
  forum_id: 244834,
  tab_label: 'Feedback & Support',
  tab_color: '#39368f',
  tab_position: 'middle-right',
  tab_inverted: false
}]);
</script>
